/* Custom scrollbar styles */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #00dce1 #020f22;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #020f22;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #00dce1;
  border-radius: 6px;
  border: 3px solid #020f22;
}
